<mat-card class="botones-citas-card">
    <mat-card-title>Gestión de Atenciones</mat-card-title>
  
    <div class="botones-citas">
      <button mat-flat-button color="primary" (click)="goToHistorial()">
        <mat-icon>history</mat-icon>&nbsp; Historial de atenciones
      </button>
  
      <button mat-flat-button color="accent" (click)="goToProximasAtenciones()">
        <mat-icon>event</mat-icon>&nbsp; Próximas atenciones
      </button>
  
      <button mat-flat-button color="success" (click)="goToNuevaHora()">
        <mat-icon>add_circle</mat-icon>&nbsp; Agendar nueva hora
      </button>

      
    </div>
  </mat-card>
  