
<form [formGroup]="ProfesionalDataForm" (ngSubmit)="onSubmitProfesionalDataForm(ProfesionalDataForm)">
  <div fxLayout="row wrap" fxLayoutGap="16px" class="form-section">
    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>RUT</mat-label>
      <input matInput formControlName="rut"  (input)="setFormatRut($event)" minlength="7" maxlength="12" required>
      @if (isValidInput('rut', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('rut')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="nombres" maxlength="80" minlength="1" required dirOnlyLetters>
      @if (isValidInput('nombres', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('nombres')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>Apellido paterno</mat-label>
      <input matInput formControlName="apellidoPaterno" maxlength="60" minlength="1" required dirOnlyLetters>
      @if (isValidInput('apellidoPaterno', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('apellidoPaterno')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>Apellido materno</mat-label>
      <input matInput formControlName="apellidoMaterno" maxlength="60" minlength="1" required dirOnlyLetters>
      @if (isValidInput('apellidoMaterno', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('apellidoMaterno')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>




  <div fxLayout="row wrap" fxLayoutGap="16px" class="form-section">
    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>Correo</mat-label>
      <input matInput type="email" formControlName="correo" maxlength="60" required>
      @if (isValidInput('correo', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('correo')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="45">
      <mat-label>Teléfono celular</mat-label>
      <input matInput type="text" formControlName="telefono" maxlength="8"  [dirOnlyNumbers]="8" minlength="8" required>
      @if (isValidInput('telefono', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('telefono')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Dirección</mat-label>
      <input matInput type="text" formControlName="direccion" maxlength="40" required dirOnlyLettersNumbers>
      @if (isValidInput('direccion', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('direccion')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-section">
    <mat-form-field appearance="outline" >
      <mat-label>Día</mat-label>
      <input matInput formControlName="day" maxlength="2" placeholder="DD" [dirOnlyNumbers]="2" required>
      @if (isValidInput('day', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('day')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Mes</mat-label>
      <input matInput formControlName="month" maxlength="2" placeholder="MM" [dirOnlyNumbers]="2" required>
      @if (isValidInput('month', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('month')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Año</mat-label>
      <input matInput formControlName="year" maxlength="4" placeholder="AAAA" [dirOnlyNumbers]="4" required>
      @if (isValidInput('year', ProfesionalDataForm)) {
        <mat-error>
          @for (error of errors(ProfesionalDataForm.get('year')); track error) {
            {{ errorMessages[error] }}<br>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>

  @if (ProfesionalDataForm.errors?.['invalidDate']) {
    <div class="mat-error">
      Fecha inválida. Por favor ingresa una fecha válida.
    </div>
  }
  @if (ProfesionalDataForm.errors?.['underage']) {
    <div class="mat-error">
      Debes tener al menos 18 años.
    </div>
  }

  <div class="btn-container">

    <button mat-button (click)="volverMantenedor()" type="button">Volver</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!ProfesionalDataForm.valid">
      <mat-icon>add_circle</mat-icon>
      Crear profesional
    </button>
  </div>
</form>
