<mat-tab-group class="login-tab-group">
  <mat-tab label="Login Pacientes">
    <form [formGroup]="loginPacientesForm" (ngSubmit)="onSubmitPacientes(loginPacientesForm)" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>RUT</mat-label>
        <input matInput formControlName="rut" (input)="setFormatRut($event)" minlength="7" maxlength="12" required />
        <mat-error *ngIf="isValidInput('rut', loginPacientesForm)">
          <ng-container *ngFor="let error of errors(loginPacientesForm.get('rut'))">
            {{ errorMessages[error] }}<br />
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Contraseña" formControlName="contrasena" maxlength="20" minlength="8" required />
        <mat-error *ngIf="isValidInput('contrasena', loginPacientesForm)">
          <ng-container *ngFor="let error of errors(loginPacientesForm.get('contrasena'))">
            {{ errorMessages[error] }}<br />
          </ng-container>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" class="back-btn" (click)="volver();"  type="button">Volver</button>
      <button mat-flat-button color="primary" class="submit-btn" type="submit">Ingresar</button>
    </form>
  </mat-tab>

  <mat-tab label="Login Profesionales">
    <form [formGroup]="loginProfesionalForm" (ngSubmit)="onSubmitProfesional(loginProfesionalForm)" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>RUT</mat-label>
        <input matInput formControlName="rut" (input)="setFormatRutProfesional($event)" minlength="7" maxlength="12" required />
        <mat-error *ngIf="isValidInput('rut', loginProfesionalForm)">
          <ng-container *ngFor="let error of errors(loginProfesionalForm.get('rut'))">
            {{ errorMessages[error] }}<br />
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Contraseña" formControlName="contrasena" maxlength="20" minlength="8" required />
        <mat-error *ngIf="isValidInput('contrasena', loginProfesionalForm)">
          <ng-container *ngFor="let error of errors(loginProfesionalForm.get('contrasena'))">
            {{ errorMessages[error] }}<br />
          </ng-container>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="volver();" class="back-btn" type="button">Volver</button>
      <button mat-flat-button color="primary" class="submit-btn" type="submit">Ingresar</button>
    </form>
  </mat-tab>
</mat-tab-group>
