<h2 mat-dialog-title>Modificar Perfil</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Seleccionar perfil</mat-label>
    <mat-select [(value)]="perfilSeleccionado">
      @for (perfil of perfilesFilter; track perfil) {
        <mat-option [value]="perfil.label">
          {{ perfil.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="perfilSeleccionado === this.data.id_perfil" (click)="onPerfilChange()">Guardar</button>
</mat-dialog-actions>
